{% extends "layout.twig" %}
{% block title %} Tienda – uoMusic {% endblock %}
{% block body %}

    <h2>Invitaciones</h2>

    <!-- Listado de invitaciones -->
    <div class="row">
        {% for invitation in invitations %}
            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
                <div style="width:200px">
                    <div>{{ invitation.sender }}</div>
                    <form class="form-horizontal" method="post" action="/friendships/accept/{{ invitation.email }}" >
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-primary">Aceptar</button>
                        </div>
                    </form>
                </div>
            </div>
        {% endfor %}
    </div>

    <!-- Paginación mostrar la actual y 2 anteriores y dos siguientes -->
    <div class="row text-center">
        <ul class="pagination">
            {% for page in pages %}
                <li class="page-item" id="pi-{{ page }}">
                    <a class="page-link" href="/friendships/invitations?page={{ page }}"> {{ page }}</a>
                </li>
            {% endfor %}
            <script>
                $("#pi-" + "{{ currentPage }}").addClass("active");
            </script>
        </ul>
    </div>

{% endblock %}
