{% extends "layout.twig" %}
{% block title %} Tienda – uoMusic {% endblock %}
{% block body %}

    <h2>Listado de usuarios</h2>

    <div class="table-responsive">
        <table class="table table-hover" id="tableUsers">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Surname</th>
                <th scope="col">Email</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
            <tr>
                <td scope="row" >{{ user.name }}</td>
                <td scope="row" >{{ user.surname }}</td>
                <td scope="row" >{{ user.email }}</td>
                <td scope="row"><a href="/user/{{ user._id }}">detalles</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Paginación mostrar la actual y 2 anteriores y dos siguientes -->
    <div class="row text-center">
        <ul class="pagination">
            {% for page in pages %}
                <li class="page-item" id="pi-{{ page }}">
                    <a class="page-link" href="/users/list?page={{ page }}"> {{ page }}</a>
                </li>
            {% endfor %}
            <script>
                $("#pi-" + "{{ currentPage }}").addClass("active");
            </script>
        </ul>
    </div>

{% endblock %}
