{% extends "layout.twig" %}
{% block title %} Tienda – uoMusic {% endblock %}
{% block body %}

    <h2>Listado de usuarios</h2>

    <div class="row">
        <div id="custom-search-input ">
            <form method="get" action="/users/list">
                <div class="input-group col-xs-8 col-sm-6 col-md-4 col-lg-5 pull-right">
                    <input id="search" type="text" class="search-query form-control"
                           placeholder="Nombre, apellidos o email del usuario." name="search">
                    <span class="input-group-btn">
						<button class="btn" type="submit">
							<span class="glyphicon glyphicon-search"></span>
						</button>
					</span>
                </div>
            </form>
        </div>
    </div>

        <div class="table-responsive">
            <table class="table table-hover" id="tableUsers">
                <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Surname</th>
                    <th scope="col">Email</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td scope="row">{{ user.name }}</td>
                        <td scope="row">{{ user.surname }}</td>
                        <td scope="row">{{ user.email }}</td>
						{% if ""==""%}
                        <td scope="row">
                            <form class="form-horizontal" method="post" action="/friendships/send/{{ user.email }}" >
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-primary">Enviar invitación</button>
                                </div>
                            </form>
                        </td>
                    {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>


    <!-- Paginación mostrar la actual y 2 anteriores y dos siguientes -->
    <div class="row text-center">
        <ul class="pagination">
            {% for page in pages %}
                <li class="page-item" id="pi-{{ page }}">
                    {% if search != null and search != "" %}
                        <a class="page-link" href="/users/list?page={{ page }}&search={{ search }}"> {{ page }}</a>
                    {% else %}
                        <a class="page-link" href="/users/list?page={{ page }}"> {{ page }}</a>
                    {% endif %}
                </li>
            {% endfor %}
            <script>
                $("#pi-" + "{{ currentPage }}").addClass("active");
            </script>
        </ul>
    </div>

{% endblock %}
